In [1]:
from dotenv import load_dotenv
import os
from pathlib import Path

CURRENT_DIRECTORY_NOTEBOOK = None


def intitate_notebook():
    load_dotenv()
    global CURRENT_DIRECTORY_NOTEBOOK
    if CURRENT_DIRECTORY_NOTEBOOK is None:
        os.chdir(os.getenv("PROJECT_BASE_PATH"))
        CURRENT_DIRECTORY_NOTEBOOK = Path(os.getcwd())
        print("Current directory for notebook: ", CURRENT_DIRECTORY_NOTEBOOK)
    else:
        print(
            "Current directory for notebook is already set: ",
            CURRENT_DIRECTORY_NOTEBOOK,
        )


intitate_notebook()

Current directory for notebook:  /workspace

In [2]:
# import shutil
# import os

# def extract_zip(zip_file_path, extract_to_folder):
#     # Check if the provided folder exists, if not, create it
#     if not os.path.exists(extract_to_folder):
#         os.makedirs(extract_to_folder)

#     # Extract the .zip file to the target folder
#     shutil.unpack_archive(zip_file_path, extract_to_folder)
#     print(f"Files extracted to {extract_to_folder}")

# extract_zip(zip_file_path="raw_dataset/home-credit-default-risk.zip", extract_to_folder="raw_dataset/raw_tables")

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
df = pd.read_csv("raw_dataset/raw_tables/application_train.csv")
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [5]:
import pandas as pd
import numpy as np


def add_partition_id_column(
    df: pd.DataFrame, n_splits: int = 12, diff_count: int = 5000
):
    df = df.sort_values(by="SK_ID_CURR", ascending=True)
    unique_ids_count = df["SK_ID_CURR"].nunique()
    print("rows_count: ", df.shape[0])
    print("unique_ids_count: ", unique_ids_count)
    if unique_ids_count != df.shape[0]:
        raise ValueError("ID column is not unique")

    split_sizes = []
    for split_size in np.linspace(0, unique_ids_count, n_splits + 1, dtype=int):
        if split_size in (0, unique_ids_count):
            split_sizes.append(int(split_size))
        else:
            split_sizes.append(
                np.random.randint(
                    split_size - int(diff_count / 2), split_size + int(diff_count / 2)
                )
            )

    split_sizes_dict = {}
    for i in range(n_splits):
        split_sizes_dict[i + 1] = (
            split_sizes[i],
            split_sizes[i + 1],
        )

    df["PARTITION_ID"] = None

    for partition_id, (start, end) in split_sizes_dict.items():
        df.loc[start:end, "PARTITION_ID"] = partition_id

    column_names = df.columns
    df = df[["PARTITION_ID"] + column_names.drop(labels=["PARTITION_ID"]).to_list()]

    return df

In [6]:
df = add_partition_id_column(df)
df.head()

rows_count:  307511
unique_ids_count:  307511

,PARTITION_ID,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df["PARTITION_ID"].value_counts()

PARTITION_ID
10    28771
3     27894
12    27626
8     26801
7     26488
6     26102
1     25670
5     25465
2     24007
9     23974
4     23364
11    21349
Name: count, dtype: int64

In [8]:
# Postgres DB Credentials
username = "data_source_user"
password = "data_source_user_password"
host = "172.17.0.1"
port = "5435"
database = "data_source_db"

connection_uri = f"postgresql://{username}:{password}@{host}:{port}/{database}"
print("Connection URI: ", connection_uri)

# MySQL - SQLAlchemy engine
engine = create_engine(connection_uri)
engine.connect()

Connection URI:  postgresql://data_source_user:data_source_user_password@172.17.0.1:5435/data_source_db

In [9]:
df.to_sql(name="application_train", con=engine, index=False, if_exists="replace")

:

In [ ]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = (
    SparkSession.builder.appName("PostgresETL")
    .config("spark.jars", "setup_files/postgresql-42.7.5.jar")
    .getOrCreate()
)


# spark = SparkSession.builder \
#     .appName("PostgresETL") \
#     .master("local[*]") \
#     .config("spark.jars", "setup_files/postgresql-42.7.5.jar") \
#     .getOrCreate()

In [ ]:
# https://chatgpt.com/c/67d1c41a-d580-800c-9df4-60e5b5205bf4

In [ ]:
# Database connection properties

username = "data_source_user"
password = "data_source_user_password"
host = "172.17.0.1"
port = "5435"
database = "data_source_db"


jdbc_url = f"jdbc:postgresql://{host}:{port}/{database}"
properties = {"user": username, "password": password, "driver": "org.postgresql.Driver"}

In [ ]:
# Step 1: Extract Data
df = spark.read.jdbc(url=jdbc_url, table="application_train", properties=properties)
df

In [ ]:
df.head()