In [1]:
from dotenv import load_dotenv
import os
from pathlib import Path

CURRENT_DIRECTORY_NOTEBOOK = None


def intitate_notebook():
    load_dotenv()
    global CURRENT_DIRECTORY_NOTEBOOK
    if CURRENT_DIRECTORY_NOTEBOOK is None:
        os.chdir(os.getenv("PROJECT_BASE_PATH"))
        CURRENT_DIRECTORY_NOTEBOOK = Path(os.getcwd())
        print("Current directory for notebook: ", CURRENT_DIRECTORY_NOTEBOOK)
    else:
        print(
            "Current directory for notebook is already set: ",
            CURRENT_DIRECTORY_NOTEBOOK,
        )


intitate_notebook()

Current directory for notebook:  /workspace

In [2]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder.appName("PostgresETL")
    .config("spark.jars", "setup_files/postgresql-42.7.5.jar")
    .getOrCreate()
)

25/04/20 12:04:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
username = "data_source_user"
password = "data_source_user_password"
host = "172.17.0.1"
port = "5435"
database = "data_source_db"


jdbc_url = f"jdbc:postgresql://{host}:{port}/{database}"
properties = {"user": username, "password": password, "driver": "org.postgresql.Driver"}

In [8]:
df = spark.read.jdbc(url=jdbc_url, table="application_train", properties=properties)
df

DataFrame[SK_ID_CURR: bigint, TARGET: bigint, NAME_CONTRACT_TYPE: string, CODE_GENDER: string, FLAG_OWN_CAR: string, FLAG_OWN_REALTY: string, CNT_CHILDREN: bigint, AMT_INCOME_TOTAL: double, AMT_CREDIT: double, AMT_ANNUITY: double, AMT_GOODS_PRICE: double, NAME_TYPE_SUITE: string, NAME_INCOME_TYPE: string, NAME_EDUCATION_TYPE: string, NAME_FAMILY_STATUS: string, NAME_HOUSING_TYPE: string, REGION_POPULATION_RELATIVE: double, DAYS_BIRTH: bigint, DAYS_EMPLOYED: bigint, DAYS_REGISTRATION: double, DAYS_ID_PUBLISH: bigint, OWN_CAR_AGE: double, FLAG_MOBIL: bigint, FLAG_EMP_PHONE: bigint, FLAG_WORK_PHONE: bigint, FLAG_CONT_MOBILE: bigint, FLAG_PHONE: bigint, FLAG_EMAIL: bigint, OCCUPATION_TYPE: string, CNT_FAM_MEMBERS: double, REGION_RATING_CLIENT: bigint, REGION_RATING_CLIENT_W_CITY: bigint, WEEKDAY_APPR_PROCESS_START: string, HOUR_APPR_PROCESS_START: bigint, REG_REGION_NOT_LIVE_REGION: bigint, REG_REGION_NOT_WORK_REGION: bigint, LIVE_REGION_NOT_WORK_REGION: bigint, REG_CITY_NOT_LIVE_CITY: bigint, REG_CITY_NOT_WORK_CITY: bigint, LIVE_CITY_NOT_WORK_CITY: bigint, ORGANIZATION_TYPE: string, EXT_SOURCE_1: double, EXT_SOURCE_2: double, EXT_SOURCE_3: double, APARTMENTS_AVG: double, BASEMENTAREA_AVG: double, YEARS_BEGINEXPLUATATION_AVG: double, YEARS_BUILD_AVG: double, COMMONAREA_AVG: double, ELEVATORS_AVG: double, ENTRANCES_AVG: double, FLOORSMAX_AVG: double, FLOORSMIN_AVG: double, LANDAREA_AVG: double, LIVINGAPARTMENTS_AVG: double, LIVINGAREA_AVG: double, NONLIVINGAPARTMENTS_AVG: double, NONLIVINGAREA_AVG: double, APARTMENTS_MODE: double, BASEMENTAREA_MODE: double, YEARS_BEGINEXPLUATATION_MODE: double, YEARS_BUILD_MODE: double, COMMONAREA_MODE: double, ELEVATORS_MODE: double, ENTRANCES_MODE: double, FLOORSMAX_MODE: double, FLOORSMIN_MODE: double, LANDAREA_MODE: double, LIVINGAPARTMENTS_MODE: double, LIVINGAREA_MODE: double, NONLIVINGAPARTMENTS_MODE: double, NONLIVINGAREA_MODE: double, APARTMENTS_MEDI: double, BASEMENTAREA_MEDI: double, YEARS_BEGINEXPLUATATION_MEDI: double, YEARS_BUILD_MEDI: double, COMMONAREA_MEDI: double, ELEVATORS_MEDI: double, ENTRANCES_MEDI: double, FLOORSMAX_MEDI: double, FLOORSMIN_MEDI: double, LANDAREA_MEDI: double, LIVINGAPARTMENTS_MEDI: double, LIVINGAREA_MEDI: double, NONLIVINGAPARTMENTS_MEDI: double, NONLIVINGAREA_MEDI: double, FONDKAPREMONT_MODE: string, HOUSETYPE_MODE: string, TOTALAREA_MODE: double, WALLSMATERIAL_MODE: string, EMERGENCYSTATE_MODE: string, OBS_30_CNT_SOCIAL_CIRCLE: double, DEF_30_CNT_SOCIAL_CIRCLE: double, OBS_60_CNT_SOCIAL_CIRCLE: double, DEF_60_CNT_SOCIAL_CIRCLE: double, DAYS_LAST_PHONE_CHANGE: double, FLAG_DOCUMENT_2: bigint, FLAG_DOCUMENT_3: bigint, FLAG_DOCUMENT_4: bigint, FLAG_DOCUMENT_5: bigint, FLAG_DOCUMENT_6: bigint, FLAG_DOCUMENT_7: bigint, FLAG_DOCUMENT_8: bigint, FLAG_DOCUMENT_9: bigint, FLAG_DOCUMENT_10: bigint, FLAG_DOCUMENT_11: bigint, FLAG_DOCUMENT_12: bigint, FLAG_DOCUMENT_13: bigint, FLAG_DOCUMENT_14: bigint, FLAG_DOCUMENT_15: bigint, FLAG_DOCUMENT_16: bigint, FLAG_DOCUMENT_17: bigint, FLAG_DOCUMENT_18: bigint, FLAG_DOCUMENT_19: bigint, FLAG_DOCUMENT_20: bigint, FLAG_DOCUMENT_21: bigint, AMT_REQ_CREDIT_BUREAU_HOUR: double, AMT_REQ_CREDIT_BUREAU_DAY: double, AMT_REQ_CREDIT_BUREAU_WEEK: double, AMT_REQ_CREDIT_BUREAU_MON: double, AMT_REQ_CREDIT_BUREAU_QRT: double, AMT_REQ_CREDIT_BUREAU_YEAR: double]

In [7]:
from src.data.explore_column_info import get_column_summary

In [9]:
for col in df.columns:
    get_column_summary(df=df, column_name=col)
    print("\n\n")

Summary for column: SK_ID_CURR
========================================
Data Type        : LongType()
Unique Values    : 307511
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [100031, 100501, 100565, 100847, 100852]
========================================



Summary for column: TARGET
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: NAME_CONTRACT_TYPE
========================================
Data Type        : StringType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : ['Cash loans', 'Revolving loans']
========================================



Summary for column: CODE_GENDER
========================================
Data Type        : StringType()
Unique Values    : 3
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : ['F', 'M', 'XNA']
========================================



Summary for column: FLAG_OWN_CAR
========================================
Data Type        : StringType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : ['N', 'Y']
========================================



Summary for column: FLAG_OWN_REALTY
========================================
Data Type        : StringType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : ['Y', 'N']
========================================



Summary for column: CNT_CHILDREN
========================================
Data Type        : LongType()
Unique Values    : 15
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1, 2, 3, 4]
========================================



Summary for column: AMT_INCOME_TOTAL
========================================
Data Type        : DoubleType()
Unique Values    : 2548
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [135000.0, 112500.0, 157500.0, 180000.0, 90000.0]
========================================



Summary for column: AMT_CREDIT
========================================
Data Type        : DoubleType()
Unique Values    : 5603
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [450000.0, 675000.0, 225000.0, 180000.0, 270000.0]
========================================



Summary for column: AMT_ANNUITY
========================================
Data Type        : DoubleType()
Unique Values    : 13672
Null Count       : 12
Total Rows       : 307511
Null Percentage  : 0.003902299429939092 %
Top 5 unique values : [9000.0, 13500.0, 6750.0, 10125.0, 37800.0]
========================================



Summary for column: AMT_GOODS_PRICE
========================================
Data Type        : DoubleType()
Unique Values    : 1002
Null Count       : 278
Total Rows       : 307511
Null Percentage  : 0.09040327012692229 %
Top 5 unique values : [450000.0, 225000.0, 675000.0, 900000.0, 270000.0]
========================================



Summary for column: NAME_TYPE_SUITE
========================================
Data Type        : StringType()
Unique Values    : 7
Null Count       : 1292
Total Rows       : 307511
Null Percentage  : 0.42014757195677555 %
Top 5 unique values : ['Unaccompanied', 'Family', 'Spouse, partner', 'Children', 'Other_B']
========================================



Summary for column: NAME_INCOME_TYPE
========================================
Data Type        : StringType()
Unique Values    : 8
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : ['Working', 'Commercial associate', 'Pensioner', 'State servant', 'Unemployed']
========================================



Summary for column: NAME_EDUCATION_TYPE
========================================
Data Type        : StringType()
Unique Values    : 5
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : ['Secondary / secondary special', 'Higher education', 'Incomplete higher', 'Lower secondary', 'Academic degree']
========================================



Summary for column: NAME_FAMILY_STATUS
========================================
Data Type        : StringType()
Unique Values    : 6
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : ['Married', 'Single / not married', 'Civil marriage', 'Separated', 'Widow']
========================================



Summary for column: NAME_HOUSING_TYPE
========================================
Data Type        : StringType()
Unique Values    : 6
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : ['House / apartment', 'With parents', 'Municipal apartment', 'Rented apartment', 'Office apartment']
========================================



Summary for column: REGION_POPULATION_RELATIVE
========================================
Data Type        : DoubleType()
Unique Values    : 81
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0.035792, 0.04622, 0.030755, 0.025164, 0.026392]
========================================



Summary for column: DAYS_BIRTH
========================================
Data Type        : LongType()
Unique Values    : 17460
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [-13749, -13481, -10020, -18248, -15771]
========================================



Summary for column: DAYS_EMPLOYED
========================================
Data Type        : LongType()
Unique Values    : 12574
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [365243, -200, -224, -199, -230]
========================================



Summary for column: DAYS_REGISTRATION
========================================
Data Type        : DoubleType()
Unique Values    : 15688
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [-1.0, -7.0, -6.0, -2.0, -4.0]
========================================



Summary for column: DAYS_ID_PUBLISH
========================================
Data Type        : LongType()
Unique Values    : 6168
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [-4053, -4095, -4046, -4417, -4256]
========================================



Summary for column: OWN_CAR_AGE
========================================
Data Type        : DoubleType()
Unique Values    : 62
Null Count       : 202929
Total Rows       : 307511
Null Percentage  : 65.9908100848425 %
Top 5 unique values : [7.0, 6.0, 3.0, 8.0, 2.0]
========================================



Summary for column: FLAG_MOBIL
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [1, 0]
========================================



Summary for column: FLAG_EMP_PHONE
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [1, 0]
========================================



Summary for column: FLAG_WORK_PHONE
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_CONT_MOBILE
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [1, 0]
========================================



Summary for column: FLAG_PHONE
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_EMAIL
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: OCCUPATION_TYPE
========================================
Data Type        : StringType()
Unique Values    : 18
Null Count       : 96391
Total Rows       : 307511
Null Percentage  : 31.345545362604916 %
Top 5 unique values : ['Laborers', 'Sales staff', 'Core staff', 'Managers', 'Drivers']
========================================



Summary for column: CNT_FAM_MEMBERS
========================================
Data Type        : DoubleType()
Unique Values    : 17
Null Count       : 2
Total Rows       : 307511
Null Percentage  : 0.0006503832383231819 %
Top 5 unique values : [2.0, 1.0, 3.0, 4.0, 5.0]
========================================



Summary for column: REGION_RATING_CLIENT
========================================
Data Type        : LongType()
Unique Values    : 3
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [2, 3, 1]
========================================



Summary for column: REGION_RATING_CLIENT_W_CITY
========================================
Data Type        : LongType()
Unique Values    : 3
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [2, 3, 1]
========================================



Summary for column: WEEKDAY_APPR_PROCESS_START
========================================
Data Type        : StringType()
Unique Values    : 7
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : ['TUESDAY', 'WEDNESDAY', 'MONDAY', 'THURSDAY', 'FRIDAY']
========================================



Summary for column: HOUR_APPR_PROCESS_START
========================================
Data Type        : LongType()
Unique Values    : 24
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [10, 11, 12, 13, 14]
========================================



Summary for column: REG_REGION_NOT_LIVE_REGION
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: REG_REGION_NOT_WORK_REGION
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: LIVE_REGION_NOT_WORK_REGION
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: REG_CITY_NOT_LIVE_CITY
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: REG_CITY_NOT_WORK_CITY
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: LIVE_CITY_NOT_WORK_CITY
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: ORGANIZATION_TYPE
========================================
Data Type        : StringType()
Unique Values    : 58
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : ['Business Entity Type 3', 'XNA', 'Self-employed', 'Other', 'Medicine']
========================================



Summary for column: EXT_SOURCE_1
========================================
Data Type        : DoubleType()
Unique Values    : 114584
Null Count       : 173378
Total Rows       : 307511
Null Percentage  : 56.381072546998325 %
Top 5 unique values : [0.4439821179601821, 0.5984686928074158, 0.4990017461254777, 0.528197430013715, 0.5810147955776347]
========================================



Summary for column: EXT_SOURCE_2
========================================
Data Type        : DoubleType()
Unique Values    : 119831
Null Count       : 660
Total Rows       : 307511
Null Percentage  : 0.21462646864665005 %
Top 5 unique values : [0.2858978721410488, 0.2622583692422573, 0.2652563401861944, 0.1596792335026377, 0.2653117484731741]
========================================

Summary for column: EXT_SOURCE_3
========================================
Data Type        : DoubleType()
Unique Values    : 814
Null Count       : 60965
Total Rows       : 307511
Null Percentage  : 19.825307062186393 %
Top 5 unique values : [0.746300213050371, 0.7136313997323308, 0.6940926425266661, 0.6706517530862718, 0.6528965519806539]
========================================

Summary for column: APARTMENTS_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 2339
Null Count       : 156061
Total Rows       : 307511
Null Percentage  : 50.74972927797705 %
Top 5 unique values : [0.0825, 0.0619, 0.0928, 0.0722, 0.0082]
========================================



Summary for column: BASEMENTAREA_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 3780
Null Count       : 179943
Total Rows       : 307511
Null Percentage  : 58.51595552679416 %
Top 5 unique values : [0.0, 0.0545, 0.0818, 0.0727, 0.1091]
========================================



Summary for column: YEARS_BEGINEXPLUATATION_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 285
Null Count       : 150007
Total Rows       : 307511
Null Percentage  : 48.781019215572776 %
Top 5 unique values : [0.9871, 0.9856, 0.9861, 0.9801, 0.9866]
========================================



Summary for column: YEARS_BUILD_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 149
Null Count       : 204488
Total Rows       : 307511
Null Percentage  : 66.49778381911543 %
Top 5 unique values : [0.8232, 0.8164, 0.8028, 0.728, 0.7348]
========================================



Summary for column: COMMONAREA_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 3181
Null Count       : 214865
Total Rows       : 307511
Null Percentage  : 69.87229725115525 %
Top 5 unique values : [0.0, 0.0079, 0.0078, 0.008, 0.0077]
========================================



Summary for column: ELEVATORS_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 257
Null Count       : 163891
Total Rows       : 307511
Null Percentage  : 53.29597965601231 %
Top 5 unique values : [0.0, 0.08, 0.16, 0.24, 0.12]
========================================

Summary for column: ENTRANCES_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 285
Null Count       : 154828
Total Rows       : 307511
Null Percentage  : 50.3487680115508 %

Top 5 unique values : [0.1379, 0.069, 0.1034, 0.2069, 0.0345]
========================================



Summary for column: FLOORSMAX_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 403
Null Count       : 153020
Total Rows       : 307511
Null Percentage  : 49.76082156410665 %
Top 5 unique values : [0.1667, 0.3333, 0.0417, 0.375, 0.125]
========================================



Summary for column: FLOORSMIN_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 305
Null Count       : 208642
Total Rows       : 307511
Null Percentage  : 67.84862980511267 %
Top 5 unique values : [0.2083, 0.375, 0.0417, 0.0833, 0.4167]
========================================



Summary for column: LANDAREA_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 3527
Null Count       : 182590
Total Rows       : 307511
Null Percentage  : 59.376737742714894 %
Top 5 unique values : [0.0, 0.0631, 0.0316, 0.0473, 0.0174]
========================================



Summary for column: LIVINGAPARTMENTS_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 1868
Null Count       : 210199
Total Rows       : 307511
Null Percentage  : 68.35495315614726 %
Top 5 unique values : [0.0504, 0.0672, 0.0756, 0.0588, 0.0841]
========================================



Summary for column: LIVINGAREA_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 5199
Null Count       : 154350
Total Rows       : 307511
Null Percentage  : 50.193326417591564 %
Top 5 unique values : [0.0, 0.0512, 0.0702, 0.051, 0.0509]
========================================



Summary for column: NONLIVINGAPARTMENTS_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 386
Null Count       : 213514
Total Rows       : 307511
Null Percentage  : 69.43296337366793 %
Top 5 unique values : [0.0, 0.0039, 0.0077, 0.0116, 0.0154]
========================================

Summary for column: NONLIVINGAREA_AVG
========================================
Data Type        : DoubleType()
Unique Values    : 3290
Null Count       : 169682
Total Rows       : 307511
Null Percentage  : 55.17916432257708 %
Top 5 unique values : [0.0, 0.0012, 0.0044, 0.0022, 0.0031]
========================================

Summary for column: APARTMENTS_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 760
Null Count       : 156061
Total Rows       : 307511
Null Percentage  : 50.74972927797705 %
Top 5 unique values : [0.084, 0.063, 0.0945, 0.0735, 0.0084]
========================================



Summary for column: BASEMENTAREA_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 3841
Null Count       : 179943
Total Rows       : 307511
Null Percentage  : 58.51595552679416 %
Top 5 unique values : [0.0, 0.0566, 0.0849, 0.0642, 0.083]
========================================



Summary for column: YEARS_BEGINEXPLUATATION_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 221
Null Count       : 150007
Total Rows       : 307511
Null Percentage  : 48.781019215572776 %
Top 5 unique values : [0.9871, 0.9866, 0.9861, 0.9801, 0.9806]
========================================



Summary for column: YEARS_BUILD_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 154
Null Count       : 204488
Total Rows       : 307511
Null Percentage  : 66.49778381911543 %
Top 5 unique values : [0.8301, 0.8236, 0.7387, 0.8171, 0.8105]
========================================



Summary for column: COMMONAREA_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 3128
Null Count       : 214865
Total Rows       : 307511
Null Percentage  : 69.87229725115525 %
Top 5 unique values : [0.0, 0.008, 0.0079, 0.0078, 0.0081]
========================================



Summary for column: ELEVATORS_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 26
Null Count       : 163891
Total Rows       : 307511
Null Percentage  : 53.29597965601231 %
Top 5 unique values : [0.0, 0.0806, 0.1611, 0.2417, 0.1208]
========================================



Summary for column: ENTRANCES_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 30
Null Count       : 154828
Total Rows       : 307511
Null Percentage  : 50.3487680115508 %
Top 5 unique values : [0.1379, 0.069, 0.1034, 0.2069, 0.0345]
========================================



Summary for column: FLOORSMAX_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 25
Null Count       : 153020
Total Rows       : 307511
Null Percentage  : 49.76082156410665 %
Top 5 unique values : [0.1667, 0.3333, 0.0417, 0.375, 0.125]
========================================



Summary for column: FLOORSMIN_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 25
Null Count       : 208642
Total Rows       : 307511
Null Percentage  : 67.84862980511267 %
Top 5 unique values : [0.2083, 0.375, 0.0417, 0.0833, 0.4167]
========================================



Summary for column: LANDAREA_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 3563
Null Count       : 182590
Total Rows       : 307511
Null Percentage  : 59.376737742714894 %
Top 5 unique values : [0.0, 0.0194, 0.0645, 0.0484, 0.0323]
========================================



Summary for column: LIVINGAPARTMENTS_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 736
Null Count       : 210199
Total Rows       : 307511
Null Percentage  : 68.35495315614726 %
Top 5 unique values : [0.0551, 0.0735, 0.0826, 0.0643, 0.0918]
========================================



Summary for column: LIVINGAREA_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 5301
Null Count       : 154350
Total Rows       : 307511
Null Percentage  : 50.193326417591564 %
Top 5 unique values : [0.0, 0.053, 0.0532, 0.0529, 0.0533]
========================================



Summary for column: NONLIVINGAPARTMENTS_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 167
Null Count       : 213514
Total Rows       : 307511
Null Percentage  : 69.43296337366793 %
Top 5 unique values : [0.0, 0.0039, 0.0078, 0.0117, 0.0156]
========================================



Summary for column: NONLIVINGAREA_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 3327
Null Count       : 169682
Total Rows       : 307511
Null Percentage  : 55.17916432257708 %
Top 5 unique values : [0.0, 0.0011, 0.0046, 0.0033, 0.0012]
========================================



Summary for column: APARTMENTS_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 1148
Null Count       : 156061
Total Rows       : 307511
Null Percentage  : 50.74972927797705 %
Top 5 unique values : [0.0833, 0.0625, 0.0937, 0.0729, 0.0083]
========================================



Summary for column: BASEMENTAREA_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 3772
Null Count       : 179943
Total Rows       : 307511
Null Percentage  : 58.51595552679416 %
Top 5 unique values : [0.0, 0.0818, 0.1091, 0.0545, 0.0727]
========================================



Summary for column: YEARS_BEGINEXPLUATATION_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 245
Null Count       : 150007
Total Rows       : 307511
Null Percentage  : 48.781019215572776 %
Top 5 unique values : [0.9871, 0.9861, 0.9856, 0.9866, 0.9801]
========================================



Summary for column: YEARS_BUILD_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 151
Null Count       : 204488
Total Rows       : 307511
Null Percentage  : 66.49778381911543 %
Top 5 unique values : [0.8256, 0.8189, 0.8054, 0.7316, 0.8121]
========================================



Summary for column: COMMONAREA_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 3202
Null Count       : 214865
Total Rows       : 307511
Null Percentage  : 69.87229725115525 %
Top 5 unique values : [0.0, 0.0079, 0.008, 0.0078, 0.0014]
========================================



Summary for column: ELEVATORS_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 46
Null Count       : 163891
Total Rows       : 307511
Null Percentage  : 53.29597965601231 %
Top 5 unique values : [0.0, 0.08, 0.16, 0.24, 0.12]
========================================



Summary for column: ENTRANCES_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 46
Null Count       : 154828
Total Rows       : 307511
Null Percentage  : 50.3487680115508 %
Top 5 unique values : [0.1379, 0.069, 0.1034, 0.2069, 0.0345]
========================================



Summary for column: FLOORSMAX_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 49
Null Count       : 153020
Total Rows       : 307511
Null Percentage  : 49.76082156410665 %
Top 5 unique values : [0.1667, 0.3333, 0.0417, 0.375, 0.125]
========================================



Summary for column: FLOORSMIN_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 47
Null Count       : 208642
Total Rows       : 307511
Null Percentage  : 67.84862980511267 %
Top 5 unique values : [0.2083, 0.375, 0.0417, 0.0833, 0.4167]
========================================



Summary for column: LANDAREA_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 3560
Null Count       : 182590
Total Rows       : 307511
Null Percentage  : 59.376737742714894 %
Top 5 unique values : [0.0, 0.0193, 0.0642, 0.0482, 0.0161]
========================================



Summary for column: LIVINGAPARTMENTS_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 1097
Null Count       : 210199
Total Rows       : 307511
Null Percentage  : 68.35495315614726 %
Top 5 unique values : [0.0513, 0.0684, 0.077, 0.0599, 0.0855]
========================================



Summary for column: LIVINGAREA_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 5281
Null Count       : 154350
Total Rows       : 307511
Null Percentage  : 50.193326417591564 %
Top 5 unique values : [0.0, 0.0548, 0.0518, 0.052, 0.0521]
========================================



Summary for column: NONLIVINGAPARTMENTS_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 214
Null Count       : 213514
Total Rows       : 307511
Null Percentage  : 69.43296337366793 %
Top 5 unique values : [0.0, 0.0039, 0.0078, 0.0116, 0.0155]
========================================



Summary for column: NONLIVINGAREA_MEDI
========================================
Data Type        : DoubleType()
Unique Values    : 3323
Null Count       : 169682
Total Rows       : 307511
Null Percentage  : 55.17916432257708 %
Top 5 unique values : [0.0, 0.0012, 0.0022, 0.0037, 0.0044]
========================================



Summary for column: FONDKAPREMONT_MODE
========================================
Data Type        : StringType()
Unique Values    : 4
Null Count       : 210295
Total Rows       : 307511
Null Percentage  : 68.38617155158677 %

Top 5 unique values : ['reg oper account', 'reg oper spec account', 'not specified', 'org spec account', None]
========================================



Summary for column: HOUSETYPE_MODE
========================================
Data Type        : StringType()
Unique Values    : 3
Null Count       : 154297
Total Rows       : 307511
Null Percentage  : 50.176091261776 %
Top 5 unique values : ['block of flats', 'specific housing', 'terraced house', None]
========================================



Summary for column: TOTALAREA_MODE
========================================
Data Type        : DoubleType()
Unique Values    : 5116
Null Count       : 148431
Total Rows       : 307511
Null Percentage  : 48.26851722377411 %
Top 5 unique values : [0.0, 0.057, 0.0547, 0.055, 0.0548]
========================================



Summary for column: WALLSMATERIAL_MODE
========================================
Data Type        : StringType()
Unique Values    : 7
Null Count       : 156341
Total Rows       : 307511
Null Percentage  : 50.8407829313423 %
Top 5 unique values : ['Panel', 'Stone, brick', 'Block', 'Wooden', 'Mixed']
========================================



Summary for column: EMERGENCYSTATE_MODE
========================================
Data Type        : StringType()
Unique Values    : 2
Null Count       : 145755
Total Rows       : 307511
Null Percentage  : 47.39830445089769 %
Top 5 unique values : ['No', 'Yes', None]
========================================



Summary for column: OBS_30_CNT_SOCIAL_CIRCLE
========================================
Data Type        : DoubleType()
Unique Values    : 33
Null Count       : 1021
Total Rows       : 307511
Null Percentage  : 0.3320206431639844 %
Top 5 unique values : [0.0, 1.0, 2.0, 3.0, 4.0]
========================================



Summary for column: DEF_30_CNT_SOCIAL_CIRCLE
========================================
Data Type        : DoubleType()
Unique Values    : 10
Null Count       : 1021
Total Rows       : 307511
Null Percentage  : 0.3320206431639844 %
Top 5 unique values : [0.0, 1.0, 2.0, 3.0, 4.0]
========================================

Summary for column: OBS_60_CNT_SOCIAL_CIRCLE
========================================
Data Type        : DoubleType()
Unique Values    : 33
Null Count       : 1021
Total Rows       : 307511
Null Percentage  : 0.3320206431639844 %

Top 5 unique values : [0.0, 1.0, 2.0, 3.0, 4.0]
========================================



Summary for column: DEF_60_CNT_SOCIAL_CIRCLE
========================================
Data Type        : DoubleType()
Unique Values    : 9
Null Count       : 1021
Total Rows       : 307511
Null Percentage  : 0.3320206431639844 %
Top 5 unique values : [0.0, 1.0, 2.0, 3.0, 4.0]
========================================



Summary for column: DAYS_LAST_PHONE_CHANGE
========================================
Data Type        : DoubleType()
Unique Values    : 3773
Null Count       : 1
Total Rows       : 307511
Null Percentage  : 0.00032519161916159093 %
Top 5 unique values : [0.0, -1.0, -2.0, -3.0, -4.0]
========================================



Summary for column: FLAG_DOCUMENT_2
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_3
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [1, 0]
========================================



Summary for column: FLAG_DOCUMENT_4
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_5
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_6
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_7
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_8
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_9
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_10
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_11
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_12
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_13
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_14
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_15
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_16
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_17
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_18
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_19
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_20
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: FLAG_DOCUMENT_21
========================================
Data Type        : LongType()
Unique Values    : 2
Null Count       : 0
Total Rows       : 307511
Null Percentage  : 0.0 %
Top 5 unique values : [0, 1]
========================================



Summary for column: AMT_REQ_CREDIT_BUREAU_HOUR
========================================
Data Type        : DoubleType()
Unique Values    : 5
Null Count       : 41519
Total Rows       : 307511
Null Percentage  : 13.501630835970097 %
Top 5 unique values : [0.0, 1.0, 2.0, 3.0, 4.0]
========================================



Summary for column: AMT_REQ_CREDIT_BUREAU_DAY
========================================
Data Type        : DoubleType()
Unique Values    : 9
Null Count       : 41519
Total Rows       : 307511
Null Percentage  : 13.501630835970097 %
Top 5 unique values : [0.0, 1.0, 2.0, 3.0, 4.0]
========================================



Summary for column: AMT_REQ_CREDIT_BUREAU_WEEK
========================================
Data Type        : DoubleType()
Unique Values    : 9
Null Count       : 41519
Total Rows       : 307511
Null Percentage  : 13.501630835970097 %
Top 5 unique values : [0.0, 1.0, 2.0, 3.0, 4.0]
========================================



Summary for column: AMT_REQ_CREDIT_BUREAU_MON
========================================
Data Type        : DoubleType()
Unique Values    : 24
Null Count       : 41519
Total Rows       : 307511
Null Percentage  : 13.501630835970097 %
Top 5 unique values : [0.0, 1.0, 2.0, 3.0, 4.0]
========================================



Summary for column: AMT_REQ_CREDIT_BUREAU_QRT
========================================
Data Type        : DoubleType()
Unique Values    : 11
Null Count       : 41519
Total Rows       : 307511
Null Percentage  : 13.501630835970097 %
Top 5 unique values : [0.0, 1.0, 2.0, 3.0, 4.0]
========================================



Summary for column: AMT_REQ_CREDIT_BUREAU_YEAR
========================================
Data Type        : DoubleType()
Unique Values    : 25
Null Count       : 41519
Total Rows       : 307511
Null Percentage  : 13.501630835970097 %
Top 5 unique values : [0.0, 1.0, 2.0, 3.0, 4.0]
========================================